#header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}
#header .container .btn svg {
  font-size: 24px;
}

#home .container .row h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 250%;
}
#home .container .row .card {
  font-size: 1.25rem;
  padding: 1rem;
}
#home .container .row .card .card-body .card-title {
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 2rem;
}

#agents .container,
#weapons .container,
#maps .container,
#playingCards .container,
#bundles .container,
#sprays .container {
  min-height: 100vh;
}
#agents .container .row,
#weapons .container .row,
#maps .container .row,
#playingCards .container .row,
#bundles .container .row,
#sprays .container .row {
  padding: 2rem;
}
#agents .container .row a,
#weapons .container .row a,
#maps .container .row a,
#playingCards .container .row a,
#bundles .container .row a,
#sprays .container .row a {
  text-decoration: none;
}
#agents .container .row .card,
#weapons .container .row .card,
#maps .container .row .card,
#playingCards .container .row .card,
#bundles .container .row .card,
#sprays .container .row .card {
  width: 100%;
  height: 100%;
  transition: 0.1s;
}
#agents .container .row .card:hover,
#weapons .container .row .card:hover,
#maps .container .row .card:hover,
#playingCards .container .row .card:hover,
#bundles .container .row .card:hover,
#sprays .container .row .card:hover {
  transform: scale(1.05);
}
#agents .container .row .card .card-img-top,
#weapons .container .row .card .card-img-top,
#maps .container .row .card .card-img-top,
#playingCards .container .row .card .card-img-top,
#bundles .container .row .card .card-img-top,
#sprays .container .row .card .card-img-top {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  min-height: 200px;
}
#agents .container .row .card .card-body .card-text,
#weapons .container .row .card .card-body .card-text,
#maps .container .row .card .card-body .card-text,
#playingCards .container .row .card .card-body .card-text,
#bundles .container .row .card .card-body .card-text,
#sprays .container .row .card .card-body .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#agents .container .row .card .card-body .card-title,
#weapons .container .row .card .card-body .card-title,
#maps .container .row .card .card-body .card-title,
#playingCards .container .row .card .card-body .card-title,
#bundles .container .row .card .card-body .card-title,
#sprays .container .row .card .card-body .card-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#maps .container .row .card:hover .card-img-top {
  display: none;
}
#maps .container .row .card:hover .splash {
  display: block;
}
#maps .container .row .card .splash {
  display: none;
}

.search {
  background: #000;
  border: none;
  padding: 0.75rem 1rem;
  font-size: 16px;
  color: #fff;
  border-radius: 50px;
  transition: 0.3s;
}
.search::-moz-placeholder {
  color: #ddd;
}
.search::placeholder {
  color: #ddd;
}
.search:focus {
  outline: none;
  background-color: #222;
  width: 100%;
}

#examineAgent .cardImg {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}/*# sourceMappingURL=main.css.map */